
@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>

@using MobileStoreApplication.Models.Home

<style>
    b {
        color: black;
    }
</style>
<h2>The Order Number<b> @ViewBag.orderNumber</b> has been Cancelled</h2>
